<div class="main">
  <div class="siteTop">{{title}}</div>
  <div class="container coreModules">
      <div class="row">
        <div class="col-12">
          A. Bereich "Kernbereich"
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          Modulname
        </div>
        <div class="col-2">
          LP
        </div>
        <div class="col-2">
          Box
        </div>
        <div class="col-2">
          Note
        </div>
      </div>
      <div class="row" *ngFor="let m of moduleCoreTopics">
          <div class="col-6">
              {{m._name}}
            </div>
            <div class="col-2">
              {{m.cp}}
            </div>
            <div class="col-2">
              {{m.isSelected}}
            </div>
            <div class="col-2">
              <input [(ngModel)]="m.mark">
            </div>
      </div>

  </div>

  <div class="container dataAnalytics">
      <div class="row">
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div>
  </div>

  <div class="container scientific">
      <div class="row">
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div>
  </div>

  <div class="container engineering">
      <div class="row">
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div>
  </div>

  <div class="container interdisiplinary">
      <div class="row">
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div>
  </div>

  <div class="container additional">
      <div class="row">
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div>
  </div>

  <div class="container thesis">
      <div class="row">
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div>
  </div>
</div>

<router-outlet></router-outlet>
