.main {
    background: #F3FFE8;
    height: 100%;
    width: 100%;
    padding-bottom: 5%;
}

.siteTop {
    background: #97ca31;
    color: #ebece8;
    border: #becca8;
    border-style: solid;
    border-width: 5px;
    top: 0;
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.siteBottom {
    position: fixed;
    background: #97ca31;
    color: #ebece8;
    border: #becca8;
    border-style: solid;
    border-width: 5px;
    bottom: 0%;
    width: 100%;
    height: 7%;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;

}

.moduleTable {
    max-width: 66.667%;
    max-height: 50%;
    margin: auto;
    border: #becca8;
    border-style: solid;
    display: block;
    align-content: center;
    margin-top: 10px;
}

.tableHead {
    background: #becca8;
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: rgb(54, 54, 54);
}

.tableHeadToLess {
    background: #d65f5f;
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: rgb(54, 54, 54);
}

.tableHead .row {
    margin-top: 0;
}
.inputForm {
    width: 90%;
    text-align: center;
    margin: auto;
}

.container {
    padding-right: 0!important;
    padding-left: 0!important;
}

.row {
    padding-right: 0!important;
    margin-left: 0!important;
    margin-bottom: 2px;
    align-items: center;
    justify-content: center;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #97ca31 !important;
  }
  
::ng-deep .mat-ripple-element {
    background: #97ca31 !important;
  }
