<div class="main">
  <div style="font-weight:bold" class="siteTop">{{title}}</div>
  <div class="container coreModules moduleTable">
      <div class="row tableHead">
        <div class="col-8">
          A. Bereich "Kernbereich"
        </div>
        <div class="col-2">LP: {{ calculateWPModule(moduleCoreTopics) }}</div>
        <div class="col-2">
            Note: {{calculateMarkModule(moduleCoreTopics)}}
        </div>
      </div>
      <div class="row headerrow">
        <div class="col-5">
          Modulname
        </div>
        <div class="col-2">
          Zuständig
        </div>
        <div class="col-1">
          Semester
        </div>
        <div class="col-1">
          LP
        </div>
        <div class="col-1">
        </div>
        <div class="col-2">
          Note
        </div>
      </div>
      <div class="row" *ngFor="let m of moduleCoreTopics">
          <div class="col-5">
            {{m._name}}
          </div>
          <div class="col-2">
            {{m.prof}}
          </div>
          <div class="col-1">
            {{m.semester}}
          </div>
          <div class="col-1">
            {{m.cp}}
          </div>
          <div class="col-1">
            <mat-checkbox [(ngModel)]="m.isSelected"></mat-checkbox>
          </div>
          <div class="col-2">
            <input class="inputForm" [(ngModel)]="m.mark">
          </div>
      </div>
  </div>

  <div class="container dataAnalytics moduleTable" >
      <div class="row" [ngClass]=" 
      isMainFocus(0) ? 
        !toLessWPDataAnalytics() ? 
          isSeminarSelected(0) ? 'tableHead' : 'tableHeadToLess'
          : 'tableHeadToLess'
        : !toLessWPDataAnalytics() ?
          'tableHead' : 'tableHeadToLess'">
        <div class="col-5">
          B. Bereich "Data Analytics"
        </div>
        <div class="col-3">
            Schwerpunkt: <mat-checkbox [checked]="isMainFocus(0)" (change)="setMainFocus(0)"></mat-checkbox>
        </div>
        <div class="col-2">LP: {{ calculateWPModule(moduleDataAnalytics) }}</div>
        <div class="col-2">
            Note: {{calculateMarkModule(moduleDataAnalytics)}}
        </div>
      </div>
      <div class="row headerrow">
        <div class="col-5">
          Modulname
        </div>
        <div class="col-2">
          Zuständig
        </div>
        <div class="col-1">
          Semester
        </div>
        <div class="col-1">
          LP
        </div>
        <div class="col-1">
        </div>
        <div class="col-2">
          Note 
        </div>
      </div>
      <div class="row" *ngFor="let m of moduleDataAnalytics">
          <div class="col-5">
            {{m._name}}
          </div>
          <div class="col-2">
            {{m.prof}}
          </div>
          <div class="col-1">
            {{m.semester}}
          </div>
          <div class="col-1">
            {{m.cp}}
          </div>
          <div class="col-1">
            <mat-checkbox [(ngModel)]="m.isSelected"></mat-checkbox>
          </div>
          <div class="col-2">
            <input class="inputForm" [(ngModel)]="m.mark">
          </div>
      </div>
  </div>

  <div class="container scientificComputing moduleTable">
      <div class="row" [ngClass]=" 
      isMainFocus(1) ? 
        !toLessWPScientificComputing() ? 
          isSeminarSelected(1) ? 'tableHead' : 'tableHeadToLess'
          : 'tableHeadToLess'
        : !toLessWPScientificComputing() ?
          'tableHead' : 'tableHeadToLess'">
        <div class="col-5">
          C. Bereich "Scientific Computing"
        </div>
        <div class="col-3">
            Schwerpunkt: <mat-checkbox [checked]="isMainFocus(1)" (change)="setMainFocus(1)"></mat-checkbox>
        </div>
        <div class="col-2">LP: {{ calculateWPModule(moduleScientificComputing) }}</div>
        <div class="col-2">
            Note {{calculateMarkModule(moduleScientificComputing)}}
          </div>
      </div>
      <div class="row headerrow">
        <div class="col-5">
          Modulname
        </div>
        <div class="col-2">
          Zuständig
        </div>
        <div class="col-1">
          Semester
        </div>
        <div class="col-2">
          LP
        </div>
        <div class="col-2">
          Note
        </div>
      </div>
      <div class="row" *ngFor="let m of moduleScientificComputing">
          <div class="col-5">
            {{m._name}}
          </div>
          <div class="col-2">
            {{m.prof}}
          </div>
          <div class="col-1">
            {{m.semester}}
          </div>
          <div class="col-1">
            {{m.cp}}
          </div>
          <div class="col-1">
            <mat-checkbox [(ngModel)]="m.isSelected"></mat-checkbox>
          </div>
          <div class="col-2">
            <input class="inputForm" [(ngModel)]="m.mark">
          </div>
      </div>
  </div>

  <div class="container computerEngineering moduleTable">
      <div class="row" [ngClass]=" 
      isMainFocus(2) ? 
        !toLessWPComputerEngineering() ? 
          isSeminarSelected(2) ? 'tableHead' : 'tableHeadToLess'
          : 'tableHeadToLess'
        : !toLessWPComputerEngineering() ?
          'tableHead' : 'tableHeadToLess'">
        <div class="col-5">
          D. Bereich "Computer Engineering"
        </div>
        <div class="col-3">
          Schwerpunkt: <mat-checkbox [checked]="isMainFocus(2)" (change)="setMainFocus(2)"></mat-checkbox>
        </div>
        <div class="col-2">LP: {{ calculateWPModule(moduleComputerEngineering) }}</div>
        <div class="col-2">
            Note {{calculateMarkModule(moduleComputerEngineering)}}
          </div>
      </div>
      <div class="row headerrow">
        <div class="col-5">
          Modulname
        </div>
        <div class="col-2">
          Zuständig
        </div>
        <div class="col-1">
          Semester
        </div>
        <div class="col-2">
          LP
        </div>
        <div class="col-2">
          Note 
        </div>
      </div>
      <div class="row" *ngFor="let m of moduleComputerEngineering">
          <div class="col-5">
            {{m._name}}
          </div>
          <div class="col-2">
            {{m.prof}}
          </div>
          <div class="col-1">
            {{m.semester}}
          </div>
          <div class="col-1">
            {{m.cp}}
          </div>
          <div class="col-1">
            <mat-checkbox [(ngModel)]="m.isSelected"></mat-checkbox>
          </div>
          <div class="col-2">
            <input class="inputForm" [(ngModel)]="m.mark">
          </div>
      </div>
  </div>

  <div class="container interdisiplinary moduleTable">
      <div class="row" [ngClass]="toLessWPInterdisiplinary() ? 'tableHeadToLess' : 'tableHead'">
        <div class="col-8">
          E. Bereich "Fachübergreifende Qualifikationen"
        </div>
        <div class="col-2">LP: {{ calculateWPModule(moduleInterdisiplinary) }}</div>
        <div class="col-2">
            Note {{calculateMarkModule(moduleInterdisiplinary)}}
          </div>
      </div>
      <div class="row headerrow">
        <div class="col-5">
          Modulname
        </div>
        <div class="col-2">
          Zuständig
        </div>
        <div class="col-1">
          Semester
        </div>
        <div class="col-2">
          LP
        </div>
        <div class="col-2">
          Note
        </div>
      </div>
      <div class="row" *ngFor="let m of moduleInterdisiplinary">
          <div class="col-5">
            {{m._name}}
          </div>
          <div class="col-2">
            {{m.prof}}
          </div>
          <div class="col-1">
            {{m.semester}}
          </div>
          <div class="col-1">
            {{m.cp}}
          </div>
          <div class="col-1">
            <mat-checkbox [(ngModel)]="m.isSelected"></mat-checkbox>
          </div>
          <div class="col-2">
            <input class="inputForm" [(ngModel)]="m.mark">
          </div>
      </div>
  </div>

  <div class="container additional moduleTable">
      <div class="row" [ngClass]="toLessWPAdditional() ? 'tableHeadToLess' : 'tableHead'">
        <div class="col-8">
          F. Bereich "Zusätzliche Qualifikationen"
        </div>
        <div class="col-2">LP: {{ calculateWPModule(moduleAdditional) }}</div>
        <div class="col-2">
            Note {{calculateMarkModule(moduleAdditional)}}
        </div>
      </div>
      <div class="row headerrow">
        <div class="col-5">
          Modulname
        </div>
        <div class="col-2">
          Zuständig
        </div>
        <div class="col-1">
          Semester
        </div>
        <div class="col-2">
          LP
        </div>
        <div class="col-2">
          Note 
        </div>
      </div>
      <div class="row" *ngFor="let m of moduleAdditional">
          <div class="col-5">
            {{m._name}}
          </div>
          <div class="col-2">
            {{m.prof}}
          </div>
          <div class="col-1">
            {{m.semester}}
          </div>
          <div class="col-1">
            {{m.cp}}
          </div>
          <div class="col-1">
            <mat-checkbox [(ngModel)]="m.isSelected"></mat-checkbox>
          </div>
          <div class="col-2">
            <input class="inputForm" [(ngModel)]="m.mark">
          </div>
      </div>
  </div>

  <div class="container thesis moduleTable">
      <div class="row tableHead">
        <div class="col-8">
          G. Bereich "Masterarbeit mit Abschlusskolloquium"
        </div>
        <div class="col-2">LP: {{calculateWPModule([moduleMasterThesis])}}</div>
        <div class="col-2">
            Note {{calculateMarkModule([moduleMasterThesis])}}
          </div>
      </div>
      <div class="row headerrow">
        <div class="col-5">
          Modulname
        </div>
        <div class="col-2">
          Zuständig
        </div>
        <div class="col-1">
          Semester
        </div>
        <div class="col-2">
          LP
        </div>
        <div class="col-2">
          Note 
        </div>
      </div>
      <div class="row">
          <div class="col-5">
            {{moduleMasterThesis._name}}
          </div>
          <div class="col-2">
            {{moduleMasterThesis.prof}}
          </div>
          <div class="col-1">
            {{moduleMasterThesis.semester}}
          </div>
          <div class="col-1">
            {{moduleMasterThesis.cp}}
          </div>
          <div class="col-1">
              <mat-checkbox [(ngModel)]="moduleMasterThesis.isSelected"></mat-checkbox>
          </div>
          <div class="col-2">
            <input class="inputForm" [(ngModel)]="moduleMasterThesis.mark">
          </div>
      </div>
  </div>

  <div class="siteBottom">
    <ul>
      <li>
        <p>Schwerpunkt:&nbsp;</p>
      </li>
      <li>
        <p *ngIf="_mainFocus == null">-</p>
        <p *ngIf="_mainFocus === 0">Data Analytics</p>
        <p *ngIf="_mainFocus === 1">Scientific Computing</p>
        <p *ngIf="_mainFocus === 2">Computer Engineering</p></li>
      <li>
        <p> &nbsp;|&nbsp;
        Leistungspunkte: {{calculateWPAllModules()}}/120
        &nbsp;|&nbsp;
        Note: {{calculateMarkAllModules()}}
        </p>
      </li>
    </ul>
  </div>

</div>

<router-outlet></router-outlet>
